<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript">
		//Code will go here

		</script>
	</head>
	<!--body ng-app="copyPastaApp"-->
	<body>
		<div style="width: 200px; height: 200px; background: grey" id="pasteTarget">
			Click and paste here.
		</div>
		<script src="/scripts/cpUtility.js"></script>
		<!--script src="/scripts/angular.js"></script>
		<script src="/scripts/angular-route.js"></script>
		<script src="/scripts/copypasta.js"></script-->
	</body>
</html>