<!DOCTYPE html>
<html>
  <head>
  	<script src="/scripts/restUI.js"></script>
  </head>
  <body>
  	<form name="restClient" action="">
		<select id="methodSelect">
				<option value="GET">GET</option>
				<option value="POST">POST</option>
		</select>       <input type="text" name="path" size="175" /><br><br>
		Headers:
		<textarea rows="10" cols="200"></textarea><br><br>
		Body:
		<textarea rows="30" cols="200"/></textarea><br>
		<input type="button" value="Execute" onclick="execute()" />
	</form>
  </body>
</html>
