<nav id="navbar" class="navbar navbar-inverse navbar-static-top">
	<div class="container">
			<div class="navbar-header">
				<h2>Fast Track Imaging</h2>
				<h6>X-RAY, ULTRASOUND & CARDIAC CENTER</h6>
			</div>
			<ul id="navelements" class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="#/services">Services</a></li>
				<li><a href="#/gallery">Gallery</a></li>
				<li><a href="#/about">About Us</a></li>
				<li><a href="#/contact">Contact</a></li>
			</ul>
	</div>
</nav>